/*-- scss:defaults --*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$body-color: #ffffff;
$body-bg: #222222;
$primary: #8ebae5;
$secondary: #0098a1;
$success: #57ab27;
$info: #0098a1;
$warning: #f6a800;
$danger: #cc071e;
$light: #2d3748;
$dark: #1a202c;

$font-family-sans-serif: "Roboto", sans-serif;
$font-family-monospace: "Fira Code", monospace;
$headings-font-family: "Roboto", sans-serif;
$headings-font-weight: 700;
$link-color: #407fb7;
$link-decoration: underline;

$navbar-bg: #3d3f40;
$navbar-dark-color: rgba(255, 255, 255, 0.85);
$navbar-dark-hover-color: #ffffff;
$navbar-dark-active-color: $link-color;
$footer-bg: #3d3f40;
$code-block-bg-alpha: -0.8;
$popover-bg: #242424;
$input-bg: #242424;
$dropdown-bg: #222222;
$dropdown-color: #e2e8f0;
$dropdown-link-color: #e2e8f0;
$dropdown-link-hover-bg: #3d3f40;
$dropdown-link-hover-color: #ffffff;

/*-- scss:rules --*/
body.quarto-dark .navbar {
  background-color: $navbar-bg !important;
}

body.quarto-dark .nav-footer,
body.quarto-dark .page-footer {
  background-color: $footer-bg !important;
}

body.quarto-dark .navbar .nav-link {
  color: $navbar-dark-color !important;
}

body.quarto-dark .navbar .nav-link:hover,
body.quarto-dark .navbar .nav-link:focus {
  color: $navbar-dark-hover-color !important;
}

body.quarto-dark .navbar .nav-link.active,
body.quarto-dark .navbar .nav-link[aria-current="page"] {
  color: $navbar-dark-active-color !important;
}

body.quarto-dark .navbar .dropdown-menu .dropdown-item:hover,
body.quarto-dark .navbar .dropdown-menu .dropdown-item:focus,
body.quarto-dark
  .navbar
  .dropdown-menu
  .dropdown-item.quarto-navbar-tools-item:hover,
body.quarto-dark
  .navbar
  .dropdown-menu
  .dropdown-item.quarto-navbar-tools-item:focus {
  background-color: $dropdown-link-hover-bg !important;
  color: $dropdown-link-hover-color !important;
}

body.quarto-dark .navbar .dropdown-menu {
  background-color: $dropdown-bg;
}

body.quarto-dark .header-section-number {
  color: #8ebae5 !important;
}

.quarto-dark .quarto-listing .bi {
  color: #95a5a6 !important;
}

.quarto-dark img.listing-image {
  filter: none !important;
}

.quarto-dark table.quarto-listing-table th .bi {
  color: #95a5a6 !important;
}

.quarto-dark .listing-filter .bi {
  color: #95a5a6 !important;
}
